.banner {
    background: url("about-banner.jpg");
    height: 417px;
    background-size:cover;
    position: relative;
    width: 100%;
    padding-top: 115px;
}

.about-banner-box {
    width: 886px;
    height: 186px;
    border-radius: 20px;
    background: rgba(88, 144, 0, 0.80);
    backdrop-filter: blur(2px);
    margin: auto;
    position: relative;
    display:flex;
}

.about-banner-title {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    padding-top: 43px;
    margin-left: 27px;
}

.about-banner-quote {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 25px;
    padding-top: 49px;
}

.about-banner-title-line {
    margin-left: 27px;
}

.title-wrapper {
    align-content: center;
}

.about-title {
    color: #3A4A01;
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    text-transform: capitalize;
    padding: 38px 0px 15px 0px;
}


.about-quote {
    font-family: 'Montserrat', sans-serif;
    color: #3A4A01;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    width: 1046px;
}

.about-text {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    display: flex;
    width: 385px !important;
    /* height: 264px; */
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.about-text-wrapper {
    justify-content: center;
}

.about-squares-container {
    max-width: 1320px;
    margin-top: 59px !important;
}

.squares-col {
    justify-content: center;
    align-items: center;
}

.about-square {
    width: 345px;
    height: 329px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(164, 192, 166, 0.60);
}

.squares-wrapper {
    margin-bottom: 100px;
    margin-top: 17px !important;
}

.no-wrap {
    display: inline-flex;
    margin-top: 28px;
    margin-left: 16px;
    margin-bottom: 34px;
}

.about-icon {
    margin-top: 26px !important;
}

.about-square-title {
    color: #3A4A01;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    margin-left: 14px;
}

.about-square-text {
    color: #3A4A01;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 99%;
    padding-left: 23px;
    padding-right: 18px;
}

.values-title-wrapper {
    margin-left: 2em !important;
}

.values-title {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 107.143% */
    text-transform: uppercase;
    margin-bottom: 17px;
}

.values-subtitle {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.about-banner2-box {
    width: 100%;
    height: 317px;
    border-radius: 20px;
    background: rgba(226, 241, 227, 0.80);
    backdrop-filter: blur(2px);
    margin: auto;
    position: relative;
    display:flex;
    line-height: inherit;
}

.about-banner-2 {
    background: url("about-banner-2.jpg");
    height: 417px;
    background-size:cover;
    position: relative;
    width: 100%;
    margin-bottom: 8vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-banner2-content {
    padding-top: 42px;
}

.about-banner2-title {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 25.927px; /* 92.596% */
    margin: auto;
    transform: translateX(17%);
}

.areas-of-excellence-image {
    background: url("./areas_of_excellence.png"), lightgray 50%;
    opacity: 50%;
    background-blend-mode: inherit;
    mix-blend-mode: multiply;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: 40em;
    height: 16em;
    margin: auto;
    margin-top:1.5em;
}

.about-item-text {
    justify-content: center;
    margin-bottom: 42px;
}

.our-team-box {
    /* width: 100%; */
    height: 244px;
    border-radius: 20px;
    background: #E2EEE2;
    backdrop-filter: blur(2px);
    margin: auto;
    margin-bottom: 8vh;
}

.team-content-wrapper {
    padding-left: 3em;
    padding-top: 30px;
}

.our-team-title {
    color: #3A4A01;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    margin: auto;
    margin-bottom: 15px;
}

.our-team-content {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 82px;
    width: 50vw;
    margin-bottom: 15px;
}

.learn-more {
    width: 162px !important;
    height: 45px !important;
    flex-shrink: 0;
    background: #58A528 !important;
    border-radius: 50%;
    z-index: 10;
    border-color: #58A528 !important;
}
  
  /* Modal Content */
  .inactive {
    opacity: 0 !important;
  }

  .active {
    opacity: 1 !important;
  }

  .modal-content {
    position: fixed;
    background-color: rgba(255,255,255,0.5);
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    /* animation-name: animatetop;
    animation-duration: 0.4s; */
    transition:top 0.4s, opacity 0.4s ;
    overflow: hidden !important;
    width: 80% !important;
    top: 10vh;
    z-index: 1000;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
  }


  .modal-cover {
    z-index: 999;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
  }

  .modal-content > img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

@media(max-width: 950px)   {
    .squares-wrapper {
        overflow-x:  visible !important;
        overflow-y: hidden !important;
        flex-wrap: unset !important; 
        padding-top: 0;
        margin-top: 38px !important;
        margin-bottom: 30px !important;
    }

    .about-squares-container {
        box-sizing: content-box;
    }


}

@media(max-width: 450px)   {
    .about-text {
        font-size: 14px;
    }

    .squares-wrapper {
        overflow-x:  visible !important;
        overflow-y: hidden !important;
        flex-wrap: unset !important; 
        padding-top: 0;
        margin-top: 38px !important;
        margin-bottom: 30px !important;
        width: 100%;
    }

    .about-square {
        width: 216px;
        height: 300px;
    }

    .about-icon {
        margin-top: 14px !important;
    }

    .about-icon > svg {
        width: 74px;
        height: 74px;
    }

    .about-title {
        padding-top: 6px;
    }

    .about-text {
       margin: 2em 0em 3em 0em;
       text-align: left;
    }

    .about-square-text > span {
        font-size: 12px;
        line-height: 16px; /* 133.333% */
    }


}