.media-title {
    color: #3A4A01;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    text-transform: uppercase;
    margin-top: 29px !important;
    margin-bottom: 53px !important;
}

.media-content {
    display: flex;
    width: 579px;
    height: 181px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #3A4A01;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    text-transform: uppercase;
}

.media-banner {
    background: url("./media_banner.jpg");
    height: 417px;
    background-size:cover;
    position: relative;
    width: 100%;
    padding-top: 115px;
}

.article-wrapper {
    width: 345px;
    height: 323px;
    flex-shrink: 0;
    background: #E2F1E3;
    margin-top: 36px;
    margin-bottom: 36px;
}

.article-image {
    position: relative;
    width: 369px;
    height: 205px;
}

.image-overlay {
    position: absolute;
    background-color: #E2F1E3;
    bottom: 0px;
    width:fit-content !important;
    right: 12px;
    color: #000;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.article-title {
    color: #000;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 156.25% */
    padding-left: 22px;
    padding-right: 26px;
    padding-top: 26px;
    text-align: start;
}

.article-link {
    text-decoration: none;
}

.article-link:hover {
    text-decoration: underline;
}

.article-title-long {
    color: #000;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 156.25% */
    padding-left: 22px;
    padding-right: 26px;
    padding-top: 12px;
    text-align: start;
    
}

.article-author {
    color: #000;
    font-family: "Lato", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 250% */
    padding-left: 22px;
    text-align: start;
}

.media-banner-quote {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 25px;
    padding-top: 49px;
    width: 400px;
    padding-top: 25px;
}

.unstyled-a {
    text-decoration: none;
}

@media(max-width:920px) {
    .empty-left-col {
        display: none;
    }

    .media-title {
        font-size: 25px !important;
        line-height: 46px;
        margin-top: 53px !important;
        margin-bottom: 41px !important;
    }

    .media-content {
        width: 295px;
        font-size: 30px;
        margin-bottom: 42px !important;
        flex: unset !important;
        text-transform: capitalize;
    }

    .media-placeholder-image  > img{
        object-fit: contain;
        width: 100% !important;
        height: 100% !important;
        flex: unset !important;
    }

    

    @media(max-width:450px) {

        .media-banner {
            height: 280px !important;
            padding-top: 70px !important;
        }

        .media-banner-quote {
            color: #FFF;
            font-family: "Lato", sans-serif;
            font-size: 11px;
            font-style: italic;
            font-weight: 500;
            line-height: 15px; /* 136.364% */
            position: relative;
            padding-bottom: 18px;
            margin-left: 12px;
            padding-top: 0;
            width: 300px;
        }
    }

}