@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@400;600;700&display=swap');
html,body
{
    /* width: 100%; */
    /* height: 100%; */
    /* margin: 0px;
    padding: 0px; */
    overflow-x: hidden; 
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.main {
    box-sizing: border-box;
    position: relative !important;
    height: 85vh;
}

.maintitle {
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 45.871px; 65.53% */
    text-transform: uppercase;
    /* top: 352px; */
    z-index: 5;
    white-space: nowrap;
    position: relative;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    /* padding-top: 5px; */
    position: relative;
    z-index: 5;
    /* top: 352px; */
    white-space: nowrap;
    margin-bottom: 20px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 45.871px; /* 229.354% */
    text-transform: capitalize;
}

.morebutton {
    background-color: #58a528 !important;
    border-color: #58a528 !important;
    z-index: 5;
    width: 179px;
    height: 53px;
    font-family: 'Montserrat', sans-serif;
    position: relative !important;
}

.btn {
    outline: none !important;
}

.title-wrapper {
    position: absolute;
    z-index: 5;
    text-align: center;
    top: 262px;
}

.button-wrapper {
    position: relative;
    text-align: center;
    /* top: 352px; */
}

@media(max-width: 1500px)   {
    .title-wrapper {
        top: 24vh;
    }
    /* .maintitle {
        top: 30vh;
    }
    
    .subtitle {
        top: 30vh;
    }
    
    .morebutton {
        top: 30vh;
    } */
}

@media(max-width: 1180px) {
    .maintitle {
       top: 15vh;
       justify-self: left;
       /* font-size: auto; */
       font-size: 2.4rem ;
    }

    .subtitle {
        top: 15vh;
        justify-self: left;
        font-size: 1.5rem;
    }

    .morebutton {
        top: 15vh;
        justify-self: left;
        font-size: 1rem;
    }
}

@media(max-width: 420px) {
    .navlogo {
        margin-left: 0;
        left: 5vb;
    }


    .maintitle {
        top: 20vh;
        left: 5vb;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        height: 150px; /* 120.833% */
        width: 30vb;
        white-space: normal;
        word-break: keep-all;
        text-transform: capitalize;
        
    }

    .subtitle {
        top: 20vh;
        left: 5vb;
        font-size: 20px;
        margin-top: 34px;
    }

    .morebutton {
        top: 20vh;
        left: 5vb;
        font-size: 18px;
        width: 40vw;
        height: 47px;
        font-weight: 700;
    }
}
