@import url('https://fonts.googleapis.com/css?family=Montserrat');
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.maintitle {
    color: #000;
    font-size: 50px;
    font-family: Montserrat;
    font-weight: 700;
    position: relative;
    top: 453px;
    left: 153px;
    z-index: 5;
}

@media(max-width: 1180px) {
    .maintitle {
       top: 40vh;
       justify-self: left;
       /* font-size: auto; */
       font-size: 2.4rem ;
    }
}

@media(max-width: 350px) {
    .maintitle {
       top: 20vh;
       left: 5vb;
       /* font-size: auto; */
       font-size: 1.5rem ;
    }
}
