@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

/* Sticky footer position and size
-------------------------------------------------- */

body {
  /* Margin bottom by footer height */
  margin-bottom: 370px;
}
.footer {
  position: relative;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 370px;
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: #102434;
  color: white;
}

footer a {
  color: white;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
}
.footer-logo {
  height: 4em;
  margin-bottom: 1.5em;
}
.firsticon {
  padding-left: 0 !important;
}

.footertable {
  border-collapse: separate;
  border-spacing: 10px;
  text-indent: initial;
}

.footertd {
  max-width: 300px;
  vertical-align: middle;
}

.copyright {
  text-align: right;
  justify-content: center;
  font-size: 15px;
}

.site-links > .list-unstyled > li {
  margin: 2em 0em 2em 2em;
}


.greyscale {
  color: #e2f1e3;
}

.socials {
  margin: 0em 0em 0em 2em;
}

/* Taller footer on small screens */
@media(max-width: 567px) {
    body {
      margin-bottom: 700px;
    }
    .footer {
      height: 465px;
    }

    .socials {
      justify-content: center;
    }

    .copyright {
      text-align: center;
    }
}

