.homebanner {
    position: relative;
    top: 0px;
    overflow: visible;
    width: 100%;
    height: 100vh;
}

.container-fluid{
    margin: 0;
    padding: 0;
  }

.banner-wrapper {
    /* max-height: 1vh; */
    overflow:visible;
    position: relative;
}

@media(max-width: 768px) {
    .homebanner {
        width: 100%;
        height: 70vh;
    }
}