@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@400;600;700&display=swap');

.metrics {
    display: inline-flex;
    position: absolute;
    width: 100%;
    margin-top: 62vh;
    /* padding-bottom: 10em; */
    z-index: 5;
}

.metric-col {
    align-items: center;
}
.circle-row {
    /* padding-top: 40px; */
    position:absolute;
}
.circle {
    height: 87px;
    width: 81px !important;
    border-radius: 50%;
    background: #fff;
    justify-content: center;
    z-index: 10;
    position: relative;
    right: 94px;
}

.metric-rectangle {
    width: 344.03px;
    height: 76.784px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    top: 40px;
}


.metric-value {
    color: #3A4A01;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    text-align:right;
    margin-bottom: 0;
    padding-right: 45px !important;
}

.metric-name {
    color: #3A4A01;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    text-align: right;
    padding-right: 36px !important;
}

.metric-icon {
    width: unset !important;
    flex-shrink: 0;
    padding-top: 14px;
    text-align: center;
    
}

.metric-icon > svg {
    width: 54px !important;
    justify-self: end;
    max-width: unset !important;
}


@media(max-width: 950px) {
    .metrics-container {
        box-sizing: content-box;
    }

    .metrics {
        overflow-x:  visible !important;
        overflow-y: hidden !important;
        white-space: nowrap;
        flex-wrap: unset !important; 
        padding-top: 0;
    }
      
    .metrics > .col {
        display: inline-flex;
    }

    .square {
        width: 216px;
        height: 200px;
    }

    .value-wrapper {
        line-height: 58px !important;
        margin-bottom: 0px !important;
    }

    .metric-value {
        font-family: 'Montserrat', sans-serif;
        font-size: 27px;
        font-style: normal;
        font-weight: 500;
        line-height: 58px;
        margin-left: 14px;
        margin-bottom: 0;
    }

    hr {
        width: 188px !important;
    }

    .line {
        line-height: 18px;
    }

    .square > .title {
        margin-left: 14px;
        white-space: break-spaces;
        width: 134px;
        margin-bottom: 0px;
    }

    .metric-icon > svg{
        width: 70px;
        height: 70px;
        justify-self: end;
    }

    .houses-title {
        width: 170px !important;
    }

    .smallIcon {
        display: none;
    }

      }

@media(max-width: 425px) {

    .metrics {
        margin-top: 50vh;
        overflow-y: visible !important;
    }

    .circle {
        width: 27px !important;
        height: 25px;
        right: 0px;
    }

    .metric-rectangle {
        width: 107px;
        height: 24px;
        border-radius: 6.2px;
    }

    .metric-icon > svg{
        height: 18px;
    }

    .bigIcon {
        display: none;
    }

    .smallIcon {
        display: unset;
    }

}
