.metrics {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 10em;
    padding-bottom: 10em;
}

.square {
    height: 329px;
    width: 349px;
    border-radius: 20px;
    background: #A4C0A6;
}

.value-wrapper {
    color: #3A4A01;
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 100px;
    margin-left: 26px;
}

.metric-value {
    color: #3A4A01;
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 100px;
    margin-left: 26px;
}

hr {
    width: 334px !important;
    size: 1px;
    color: black;
}

.line {
    align-items: center;
    justify-content: center;
}

.title {
    color: #3A4A01;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    padding-left: 22px;
    margin-bottom: 0 !important;
}

.metric-icon {
    align-items: end;
    margin-top: 3.5em;
    justify-content: right;
    margin-right: 1em;
}

.metric-icon > svg {
    width: 100px;
    justify-self: end;
}
