.metrics {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 10em;
    padding-bottom: 10em;
}

.square {
    height: 329px;
    width: 349px;
    border-radius: 20px;
    background: #A4C0A6;
}

.value-wrapper {
    color: #3A4A01;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 70px; */
    font-style: normal;
    font-weight: 500;
    line-height: 100px;
    margin-left: 26px;
}

.metric-value {
    color: #3A4A01;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100px;
    margin-left: 26px;
}

hr {
    width: 334px !important;
    size: 1px;
    color: black;
}

.line {
    align-items: center;
    justify-content: center;
}

.square > .title {
    color: #3A4A01;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding-left: 0.15em;
    position: relative;
    margin-left: 22px;
    margin-bottom: 40px;
    height: 57px;
}

.metric-icon {
    align-items: end;
    margin-top: 3.5em;
    justify-content: right;
    margin-right: 1em;
}

.metric-icon > svg {
    width: 100px;
    justify-self: end;
}

@media(max-width: 950px) {
    .metrics-container {
        box-sizing: content-box;
    }

    .metrics {
        overflow-x:  visible !important;
        overflow-y: hidden !important;
        white-space: nowrap;
        flex-wrap: unset !important; 
        padding-top: 0;
    }
      
    .metrics > .col {
        display: inline-block;
    }

    .square {
        width: 216px;
        height: 200px;
    }

    .value-wrapper {
        line-height: 58px !important;
        margin-bottom: 0px !important;
    }

    .metric-value {
        font-family: 'Montserrat', sans-serif;
        font-size: 27px;
        font-style: normal;
        font-weight: 500;
        line-height: 58px;
        margin-left: 14px;
        margin-bottom: 0;
    }

    hr {
        width: 188px !important;
    }

    .line {
        line-height: 18px;
    }

    .square > .title {
        margin-left: 14px;
        white-space: break-spaces;
        width: 134px;
        margin-bottom: 0px;
    }

    .metric-icon > svg{
        width: 70px;
        height: 70px;
        justify-self: end;
    }

    .houses-title {
        width: 170px !important;
    }

      }
