.section-two {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 4em;
}
.missionvision {
    background-color: #FFFFFF;
    position: relative;
}

.image-wrapper {
    background-color: #FFFFFF;
    position: relative;
}

.missiontitle {
    color: #3A4A01;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding-left: 92px;
    flex-wrap: nowrap;
    /* padding-top: 10vh; */
}

.together {
    padding-top: 17px;
    padding-left: 89px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #3A4A01;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
}

.ourmission {
    padding-top: 97px;
    padding-left: 89px;
    color: #3A4A01;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 26px;
    display: flex;
    flex-direction: column;
}

.missioncontent {
    color: #6E992E;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 89px;
}

.ourvision {
    padding-top: 97px;
    /* padding-left: 89px; */
    color: #3A4A01;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 26px;
    display: flex;
    flex-direction: column;
}


.visioncontent {
    color: #6E992E;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    /* padding-left: 89px; */
}

.ourcommitment {
    padding-top: 97px;
    padding-left: 89px;
    color: #3A4A01;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 26px;
    display: flex;
    flex-direction: column;
}

.commitmentcontent {
    color: #6E992E;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 89px;
}
.turbine-image {
    width: 462.601px;
    height: 286.193px;
}

.coastal-turbine-image {
    width: 397.879px !important;
    /* height: 280.21px !important; */
    padding-top: 2em;
    flex-shrink: 0;
    
}
.solar-image {
    width: 100%;
}

#mission-right {
    display: unset;
    padding-top: 5em;
}

#image-mobile {
    display: none;
}

@media(max-width:950px) {
    .missionvision {
        width: 100% !important;
    }
    .missiontitle {
        display: none;
    }

    .together {
        display: none;
    }

    .ourmission {
        color: #3A4A01;
        /* text-align: center; */
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px; /* 184% */
        text-transform: uppercase;
        padding: 0;
        margin-top: 56px;
        margin-left: 26px;
    }

    #image-main {
        display: none;
    }

    #image-mobile {
        display: unset;
        margin-left: 10px;
    }

    .missioncontent {
        padding: 0;
        margin-left: 26px;
    }
}

@media(max-width:420px) {

    .missiontitle {
        display: none;
    }

    .together {
        display: none;
    }

    .ourmission {
        color: #3A4A01;
        /* text-align: center; */
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px; /* 184% */
        text-transform: uppercase;
        padding: 0;
        margin-top: 56px;
        margin-left: 26px;
    }

    #image-main {
        display: none;
    }

    #image-mobile {
        display: unset;
        margin-left: 10px;
    }

    .missioncontent {
        padding: 0;
        margin-left: 26px;
    }

}
