.section-two {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 4em;
}

.section-two-mobile {
    display: none;
}

.missionvision {
    background-color: #FFFFFF;
    position: relative;
}

.image-wrapper {
    background-color: #FFFFFF;
    position: relative;
}

.missiontitle {
    color: #3A4A01;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding-left: 92px;
    flex-wrap: nowrap;
    /* padding-top: 10vh; */
}

.together {
    padding-top: 17px;
    padding-left: 89px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #3A4A01;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
}

.ourmission {
    padding-top: 97px;
    padding-left: 89px;
    color: #3A4A01;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 26px;
    display: flex;
    flex-direction: column;
}

.missioncontent {
    color: #6E992E;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 89px;
}

.ourvision {
    padding-top: 97px;
    /* padding-left: 89px; */
    color: #3A4A01;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 26px;
    display: flex;
    flex-direction: column;
}


.visioncontent {
    color: #6E992E;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    width: 85%;
    /* padding-left: 89px; */
}

.ourcommitment {
    padding-top: 97px;
    padding-left: 89px;
    color: #3A4A01;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 26px;
    display: flex;
    flex-direction: column;
}

.commitmentcontent {
    color: #6E992E;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 89px;
}
.turbine-image {
    width: 462.601px;
    height: 286.193px;
}

.coastal-turbine-image {
    width: 397.879px !important;
    /* height: 280.21px !important; */
    padding-top: 2em;
    flex-shrink: 0;
    
}
.solar-image {
    width: 100%;
}

#mission-right {
    display: unset;
    padding-top: 5em;
}

#image-mobile {
    display: none;
}

@media(max-width:950px) {
    .section-two-container {
        height: 1250px;
    }

    .section-two-mobile {
        position: relative;
        top: -190px;
        padding-top: 0;
        display: block;
    }

    .section-two {
        display: none !important;
    }

    .missiontitle {
        font-size: 30px;
        padding-left: 0px;
        flex-wrap: nowrap;
        justify-content: center;
        /* padding-top: 10vh; */
    }

    .ourmission {
        font-size: 20px;
        margin-top: 0px;
        text-transform: capitalize;
        margin-left: 26px;
        padding-left: 0;
    }

    .missioncontent {
        color: #3A4A01;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 148.625% */
        margin-left: 26px;
        padding-left: 0;
    }

    .turbine-image {
        margin-top: 21px !important;
        width: 300px !important;
        height: 200px !important;
        flex-shrink: 0;
    }

    .coastal-turbine-image {
        width: 300px !important;
        height: 250px !important;
        flex-shrink: 0;
    }

    .ourvision {
        font-size: 20px;
        margin-top: 0px;
        text-transform: capitalize;
        margin-left: 26px;
        padding-left: 0;
    }

    .visioncontent {
        color: #3A4A01;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 148.625% */
        margin-left: 26px;
        padding-left: 0;
    }

    .solar-image {
        width: 300px !important;
        height: 200px !important;
        flex-shrink: 0;
    }

    .ourcommitment {
        font-size: 20px;
        margin-top: 0px;
        text-transform: capitalize;
        margin-left: 26px;
        padding-left: 0;
    }

    .commitmentcontent {
        color: #3A4A01;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 148.625% */
        margin-left: 26px;
        padding-left: 0;
    }
}


@media(max-width:450px) {

    .section-two-container {
        height: 800px;
    }

    .section-two-mobile {
        position: relative;
        top: -190px;
        padding-top: 0;
        display: block;
    }

    .section-two {
        display: none !important;
    }

    .missiontitle {
        font-size: 20px;
        padding-left: 0px;
        flex-wrap: nowrap;
        justify-content: center;
        /* padding-top: 10vh; */
    }

    .ourmission {
        font-size: 16px;
        margin-top: 23px;
        text-transform: capitalize;
        padding-top: 0;
    }

    .missioncontent {
        color: #3A4A01;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 13.376px; /* 148.625% */
    }

    .turbine-image {
        margin-top: 21px !important;
        width: 179px !important;
        height: 119px !important;
        flex-shrink: 0;
    }

    .coastal-turbine-image {
        width: 209px !important;
        height: 175px !important;
        flex-shrink: 0;
    }

    .ourvision {
        color: #3A4A01;
        font-size: 13px;
        font-weight: 700;
        line-height: 24.227px; /* 220.249% */
        padding-top: 10px;
        margin-left: 26px;
    }

    .visioncontent {
        color: #3A4A01;
        font-size: 9px;
        font-style: normal;
        line-height: 13.167px; /* 146.301% */
        margin-left: 26px;
    }

    .solar-image {
        width: 245px !important;
        height: 173px !important;
        flex-shrink: 0;
    }

    .ourcommitment {
        font-size: 13px;
        color: #3A4A01;
        padding-top: 10px;
        margin-left: 26px;
        padding-left: 0px;
    }

    .commitmentcontent {
        color: #3A4A01;
        font-size: 9px;
        line-height: 13.333px; /* 148.148% */
        margin-left: 26px;
    }

}




