.section-two {
    display: block;
    position: relative;
    width: 100%;
}
.missionvision {
    background-color: #FFFFFF;
    position: relative;
}

.image-wrapper {
    background-color: #FFFFFF;
    position: relative;
}

.missiontitle {
    color: #3A4A01;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-left: 92px;
    padding-top: 10vh;
}

.together {
    padding-top: 17px;
    padding-left: 89px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: #3A4A01;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
}

.ourmission {
    padding-top: 97px;
    padding-left: 89px;
    color: #3A4A01;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    line-height: 26px;
    display: flex;
    flex-direction: column;
}

.missioncontent {
    color: #6E992E;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 89px;
}

.solar-image {
    width: 100%;
}

#image-main {
    display: unset;
}

#image-mobile {
    display: none;
}

@media(max-width:950px) {
    .missionvision {
        width: 100% !important;
    }
    .missiontitle {
        display: none;
    }

    .together {
        display: none;
    }

    .ourmission {
        color: #3A4A01;
        /* text-align: center; */
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px; /* 184% */
        text-transform: uppercase;
        padding: 0;
        margin-top: 56px;
        margin-left: 26px;
    }

    #image-main {
        display: none;
    }

    #image-mobile {
        display: unset;
        margin-left: 10px;
    }

    .missioncontent {
        padding: 0;
        margin-left: 26px;
    }
}

@media(max-width:420px) {

    .missiontitle {
        display: none;
    }

    .together {
        display: none;
    }

    .ourmission {
        color: #3A4A01;
        /* text-align: center; */
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px; /* 184% */
        text-transform: uppercase;
        padding: 0;
        margin-top: 56px;
        margin-left: 26px;
    }

    #image-main {
        display: none;
    }

    #image-mobile {
        display: unset;
        margin-left: 10px;
    }

    .missioncontent {
        padding: 0;
        margin-left: 26px;
    }

}
